/* header main image animation */




.header-img.endposition .leaf-08 {
	/* --initial: 330px;
	--final: -120px; */
	top: 450px;
	left: 466px;
	transform: rotate(140deg);
}

.leaf-07 {
	/* --initial: -120px;
	--final: 30px; */

}

.leaf-06 {
	/* --initial: 320px;
	--final: 30px; */

}

.leaf-05 {
	/* --initial: -458px;
	--final: -120px; */

}

.leaf-04 {
	/* --initial: -398px;
	--final: -120px; */

}

.leaf-03 {
	/* --initial: -170px;
	--final: -40px; */

}

.leaf-02 {
	/* --initial: 310px;
	--final: -150px; */

}

.leaf-01 {
	/* --initial: -270px;
	--final: 30px; */

}


.plane {
	/* --initial: -320px;
	--final: -70px; */

}

.shoes {
	/* --initial: 58px;
	--final: 68px; */

}

.italy {

}
