/* header main image animation */




.header-img.endposition .leaf-08 {
	top: 37%;
	left: 112%;
}

.header-img.endposition .leaf-07 {
	top: 112%;
	left: -64%;
}

.header-img.endposition .leaf-06 {
	top: 61%;
	left: -20%;
}

.header-img.endposition .leaf-05 {
	top: 9%;
	left: -44%;
}

.header-img.endposition .leaf-04 {
	top: 65%;
	left: -59%;
}

.header-img.endposition .leaf-03 {
	top: 92%;
	left: -17%;

}

.header-img.endposition .leaf-02 {
	top: 108%;
	left: 104%;
}

.header-img.endposition .leaf-01 {
	top: -36%;
	left: 15%;
}

@keyframes fly {
	0% {

	}
	25% {

	}
	50% {

	}
	75% {

	}
	100% {

	}	
}

.plane {

}

.shoes {
	/* --initial: 58px;
	--final: 68px; */

}

.italy {

}
