:root {
	--padding:30px; /* clamp? */
	--margin:calc(1.5 * var(--padding));
	--section-margin:calc(2 * var(--margin));
	--diameter: clamp(250px, 40vw, 500px);
	--logo-size: 40px;
	--menu-size: 30px;
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin:0;
	padding:0;
}

img {
	width:100%;
}

p, ul, ol, blockquote {
	line-height:1.75;
	margin:var(--margin) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0 0 var(--margin);
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5,
h6 {
	font-size: 14px;
}

section {
	margin:var(--section-margin) 0;
}

.wrapper {
	padding: var(--padding);
	margin: 0 5%;
}

body > header {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.heading {
	display: flex;
	align-items: center;
	gap: 7px;
	/* justify-content: space-between; */

	z-index: 2;
}

.heading > div {
	display: flex;
	gap: 7px;
}
.heading h1 {
	margin: 0;
	padding: auto 0;
}

.logo {
	width: var(--logo-size);
	aspect-ratio: 1;
	border-radius: 50%;
}

.menu {
	/* Universal */
	margin: 0;
	width: var(--menu-size);
	aspect-ratio: 1;
	border-radius: 50%;
	z-index: 50;

	/* solution 1  - ***position fixed*** */
	position: fixed;
	top: calc(var(--padding) + (var(--logo-size) - var(--menu-size)) / 2);
	right: calc(var(--padding) + 5%);
	/*
		the heading container takes the height of the logo and
		therefore if we want to know the extact midle we have to find
		how much is 1/2 of the diference between the logo and the menu
	*/
	
	/* solution 2 - bringhing the menu back into the dom flow */
	/* position: sticky;
	top: calc(-1 * var(--menu-size));
	left: calc(100% - 5% - var(--padding)); */
	
}

header > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	position: relative;
	flex-grow: 1;
}

.intro {
	position: relative;
	width: clamp(250px, 40%, 500px);
	z-index: 2;
}

.header-img {
	
	position: absolute;
	
	top: calc(50% - var(--diameter) / 2);
	right: 0; /* <-- !! */

	z-index: 1;
	width: var(--diameter);
	aspect-ratio: 1;
	
	border-radius: 50%;
}

article > header {
	padding: var(--padding) 0;
}

article > header h1,
article > header h2 {
	margin: 0;
}

.work-experience h4,
.work-experience h5,
.work-experience h6,
.education h4,
.education h5,
.education h6 {
	margin:0;
}

figure {
	overflow: hidden;
}

figure img {
	width: 400px;
	height: 400px;
	object-fit: cover;
}
