:root {
	--padding:30px; /* clamp? */
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin:0;
	padding:0;
	height:200vh;
}

.wrapper {
	margin: 0 5%;
}

header {
	padding: var(--padding);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.heading {
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	z-index: 2;
}

.heading h1 {
	margin: 0;
}

.logo {
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
}

.menu {
	position: fixed;
	top:var(--padding);
	right: calc(var(--padding) + 5%); /* calc() */
	width: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
	z-index: 50;
}

header > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	position: relative;
	flex-grow: 1;
}

.intro {
	position: relative;
	width: clamp(250px, 40%, 500px);
	z-index: 2;
}

.main-img {
	--diameter: clamp(250px, 40vw, 500px);
	position: absolute;
	
	top: calc(50% - var(--diameter) / 2);
	right: 0; /* <-- !! */

	z-index: 1;
	width: var(--diameter);
	aspect-ratio: 1;
	
	border-radius: 50%;
}
