:root {
	--padding:30px; /* clamp? */
	--diameter: clamp(250px, 40vw, 500px);
	--logo-size: 40px;
	--menu-size: 30px;
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin:0;
	padding:0;
	height:1000vh;
}
   
.wrapper {
	margin: 0 5%;
}

header {
	padding: var(--padding);
	height: 100vh;
	display: flex;
	flex-direction: column;

}

.heading {
	display: flex;
	align-items: center;
	gap: 7px;
	/* justify-content: space-between; */

	z-index: 2;
}

.heading > div {
	display: flex;
	gap: 7px;
}
.heading h1 {
	margin: 0;
	padding: auto 0;
}

.logo {
	width: var(--logo-size);
	aspect-ratio: 1;
	border-radius: 50%;
}

.menu {
	/* Universal */
	margin: 0;
	width: var(--menu-size);
	aspect-ratio: 1;
	border-radius: 50%;
	z-index: 50;

	/* solution 1  - ***position fixed*** */
	position: fixed;
	top: calc(var(--padding) + (var(--logo-size) - var(--menu-size)) / 2);
	right: calc(var(--padding) + 5%);
	/*
		the heading container takes the height of the logo and
		therefore if we want to know the extact midle we have to find
		how much is 1/2 of the diference between the logo and the menu
	*/
	
	/* solution 2 - bringhing the menu back into the dom flow */
	/* position: sticky;
	top: calc(-1 * var(--menu-size));
	left: calc(100% - 5% - var(--padding)); */
	
}

header > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	position: relative;
	flex-grow: 1;
}

.intro {
	position: relative;
	width: clamp(250px, 40%, 500px);
	z-index: 2;
}

.main-img {
	
	position: absolute;
	
	top: calc(50% - var(--diameter) / 2);
	right: 0; /* <-- !! */

	z-index: 1;
	width: var(--diameter);
	aspect-ratio: 1;
	
	border-radius: 50%;
}
