:root {
	--bg-color:#e1e1e1;
	--header-bg-color:#aaa;
	--text-color:#4a4a4a;
	--heading-color:#222;
	--right-section:#3CD75A;
	--col-bg-color: #62577F;
	--bg-profile:#D7C1FF;

	--heading-text:"Imprima", sans-serif;
	--body-text:"Inter", sans-serif;
}

body {
	font-family: var(--body-text);
	background-color: var(--bg-color);
	color: var(--text-color);
}

body > header {
	background-color: var(--col-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-text);
	color: var(--heading-color);
}

.name hgroup h1 {
	font-size: 5rem;
	color: var(--col-bg-color);
}

.logo {
	background-color: grey;
}

.menu {
	background-color: var(--right-section);
}

.header-img { 
	background-color: rgb(13, 99, 65);
}

article > header {
	background-color: var(--bg-color);
}

.profile {
	background-color: var(--bg-profile);
}

.profile,
.profile h3 {
	color: var(--col-bg-color);
}


.right :is(.skills, .languages) {
	color: var(--bg-color);
}

.skills h3,
.languages h3{
	color: var(--right-section);
}

.education :is(h3, h4, h5, h6) {
	color: var(--col-bg-color);
}

.languages,
.skills {
	background-color: var(--col-bg-color);
}
.education {
	background-color: var(--right-section);
}

section h3::after {
	content: "";
	display: block;
	width: 25px;
	border-bottom: 2px solid;
}
