:root {
	--bg-color:#e1e1e1;
	--header-bg-color:#aaa;
	--text-color:#4a4a4a;
	--heading-color:#222;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

header {
	background-color: var(--header-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
}

.logo {
	background-color: grey;
}

.menu {
	background-color: aquamarine;
}
