:root {
	--bg-color:#e1e1e1;
	--header-bg-color:#aaa;
	--text-color:#4a4a4a;
	--heading-color:#222;
	--right-section:#3CD75A;
	--col-bg-color: #62577F;
	--bg-profile:#D7C1FF;

	--heading-text:"Imprima", sans-serif;
	--body-text:"Inter", sans-serif;
}

body {
	font-family: var(--body-text);
	background-color: var(--bg-color);
	color: var(--text-color);
}

body > header {
	background-color: var(--col-bg-color);
}

body > nav {
	background-color: var(--bg-profile);
	visibility: hidden;
	opacity: 0;
	transform: translateY(100vh);
	transition: 
		opacity 1s,
		visibility 0s linear 1s,
		transform 1s;
}

.menu-toggle:checked + nav {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition: 
		opacity 1s,
		transform 1s;
}

nav .heading { 
	opacity: 0;
	transition: 
		opacity 1s ease 0s;
}

.menu-toggle:checked + nav .heading {
	opacity: 1;
	transition: 
		opacity 1s ease 1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-text);
	color: var(--heading-color);
}

.name hgroup h1 {
	font-size: 5rem;
	color: var(--col-bg-color);
}

.logo {
	background-color: grey;
}

.menu {
	background-color: var(--right-section);
}
.menu-text {
	color: #3CD75A;
	display: inline-block;
	z-index: 50;
	visibility: visible;
}

.nav-main {
	font-family: var(--heading-text);
	font-size: 4rem;
}

.menu-list {
	text-transform: uppercase;
	line-height: 1.1;
}

.menu-list li a {
	display: block;
	/* opacity:0; */
	/* transform: translateY(100%); */
	transition: opacity 1s;
}

.menu-toggle:checked + nav .menu-list li a {
	/* opacity: 1; */
	/* transform: translateY(0%); */
}

.openAnimation a {
	color: #3CD75A;

}

.menu-list:hover li a {
	opacity: 0.5;
}

.menu-list li a:hover {
	opacity: 1;
	
}

.menu-list li figure {
	opacity: 0;
	transition: opacity 1s;
}

.menu-list li:hover figure {
	opacity: 1;	
}


.header-img { 
	background-color: rgb(13, 99, 65);
}

article > header {
	background-color: var(--bg-color);
}

.profile {
	background-color: var(--bg-profile);
}

.profile,
.profile h3 {
	color: var(--col-bg-color);
}


.right :is(.skills, .languages) {
	color: var(--bg-color);
}

.skills h3,
.languages h3{
	color: var(--right-section);
}

.education :is(h3, h4, h5, h6) {
	color: var(--col-bg-color);
}

.languages,
.skills {
	background-color: var(--col-bg-color);
	color: var(--bg-color);
}

.education {
	background-color: var(--right-section);
}

section h3::after {
	content: "";
	display: block;
	width: 25px;
	border-bottom: 2px solid;
}
