body {
	/* background:hotpink !important; */
}

.name {
	display: flex;
}

.name figure {
	order:2;
	width: 30%;
	margin: var(--margin);
}
.name figure img {
	height: auto;
	width: 150%;
}

.name hgroup {
	order: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
}


