body {
	/* background:hotpink !important; */
}

article > header {
	/* display: flex;
	flex-wrap: wrap; */
	/* column-gap: var(--gap); */
	/* padding-right: calc(-1 * var(--col-offset) + 5vw); */
	padding: 0;
}

article {
	width: 100%;
	justify-content: flex-end;
	align-items: flex-start;
}

article .profile,
article .work-experience {
	padding-right: var(--padding);
}

article .skills,
article .languages,
article .education {
	padding-left: var(--padding);
}

article .name {
	order: 1;
	display: flex;
	width: 100%;
	flex-shrink: 0; /* ?? */
}

article .profile {
	order: 2;
	width: 60%;
}

article .skills {
	order: 3;
	width: 40%;
}

article .work-experience {
	order: 4;
	width: 60%;
}

article .languages {
	order: 5;
	width: 40%;
}

article .education {
	order: 6;
	width: 40%;
}

article > header hgroup {
	text-align: start;
	padding-left: calc(5vw + var(--padding));
}


.right,
.name .photo {
	order:2;
	width: 40%;
	background-color: var(--col-bg-color);
}

.right section,
.name .photo {
	padding: var(--margin);
	padding-right: var(--col-offset);
}

.right section {
	margin: 0;
	padding-bottom: calc(var(--margin) / 2);
}

.name .photo figure {
	margin: 0;
	width: 100%;
}

.name figure img {
	height: auto;
	width: 150%;
}

.name hgroup {
	order: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
}


.left section {
	padding-right: var(--padding);
}
.skills ul {
	margin-bottom: 0;
}

.education .schools hgroup h4 {
	order:2;
	min-width: 290px;
}

.education .schools hgroup h6 {
	order:1;
	width: 100%;
}

.education .schools hgroup h5 {
	order:3;
	width: 100%;
}

.nav-main { 
	
}
